.aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0px;
}

.aboutus_bg {
  padding-top: 200px;
  background: #1a5a98 !important;
  position: relative;
}

.aboutus_bg::before {
  content: '';
  background: #1a5a98;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  z-index: -1;
}

.aboutus img {
  height: auto;
  width: 100%;
}

.aboutus_devices img {
  height: 200px;
}

.aboutus_info_head {
  padding-top: 0px;
  color: #b6d27c;
}

@media (max-width: 991.98px) {
  .aboutus_info_head {
    padding-bottom: 15px;
  }
}

@media (max-width: 767.98px) {
  .aboutus_info_head {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.aboutus_info_para {
  font-size: 17px;
  color: white;
}

@media (max-width: 991.98px) {
  .aboutus_info_para {
    font-size: 15px;
  }
}

.what {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 15px;
}

.what_box {
  text-align: center;
  text-transform: capitalize;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 700;
  color: #1a5a98;
  margin: 5px 3px;
}

@media (max-width: 991.98px) {
  .what_box {
    margin: 3px 3px;
    font-size: 15px;
  }
}

.what_box_img {
  height: 150px !important;
  width: auto !important;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: 2px 2px 10px #fffffff0;
          box-shadow: 2px 2px 10px #fffffff0;
}

.what_box_img:hover {
  -webkit-animation: box_hover 0.3s linear 0.1s;
          animation: box_hover 0.3s linear 0.1s;
}

.about_do_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px;
}

@media (max-width: 767.98px) {
  .about_do_box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.about_do_box_img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  position: relative;
}

@media (max-width: 1199.98px) {
  .about_do_box_img {
    width: 350px;
    height: 400px;
  }
}

@media (max-width: 991.98px) {
  .about_do_box_img {
    width: 250px;
    height: 350px;
  }
}

@media (max-width: 767.98px) {
  .about_do_box_img {
    width: 100%;
    height: 270px;
  }
}

.about_do_box_img:hover {
  -webkit-animation: do-box 0.6s linear 0.1s;
          animation: do-box 0.6s linear 0.1s;
}

.about_do_box_img::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: #000000ab;
  position: absolute;
  top: 0px;
  border-radius: 10px;
}

.about_do_box_info {
  padding-top: 20px;
  z-index: 99999;
}

.about_do_box_info p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding: 0px 15px;
  color: white;
}

@media (max-width: 575.98px) {
  .about_do_box_info p {
    font-size: 17px;
  }
}

.about_do_box_para {
  font-weight: 400;
  padding: 0px 20px;
  color: black;
  padding: 15px;
}

.about_do_box_para_head {
  font-size: 25px;
  padding-bottom: 15px;
  font-weight: 600;
  color: #1a5a98;
}

@media (max-width: 767.98px) {
  .about_do_box_para_head {
    font-size: 20px;
  }
}

.about_do_box_para span {
  font-size: 17px;
}

@media (max-width: 991.98px) {
  .about_do_box_para span {
    font-size: 15px;
  }
}

.about_portfolio {
  font-weight: 700;
  font-size: 14px;
  color: white;
  background: none;
  border: none;
  border: 2px solid #b6d27c;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.service {
  padding: 50px 0px;
}

.service_box {
  cursor: pointer;
  padding-bottom: 30px;
}

.service_img {
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 991.98px) {
  .service_img {
    height: 270px;
  }
}

@media (max-width: 767.98px) {
  .service_img {
    height: 230px;
  }
}

.service_img:hover::after {
  content: '';
  background: #00000038;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.service_img i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 200px;
  opacity: 0.0;
  z-index: 9999;
}

@media (max-width: 991.98px) {
  .service_img i {
    font-size: 100px;
  }
}

.service_img:hover i {
  opacity: 1;
  -webkit-animation: service_box 0.5s linear 0.1s;
          animation: service_box 0.5s linear 0.1s;
}

@media (max-width: 991.98px) {
  .service_img:hover i {
    -webkit-animation: service_box2 0.5s linear 0.1s;
            animation: service_box2 0.5s linear 0.1s;
  }
}

.service_info {
  font-size: 20px;
  background: #1a5a98;
  text-align: center;
  padding: 5px;
  margin: 15px 0px;
  color: white;
}

.out_cata {
  background: #efefef;
  padding: 15px 0px;
}

.out_cata p {
  font-size: 17px;
  font-weight: 600;
  padding: 15px 15px;
  background: #b6d27c;
  color: #1a5a98;
}

.out_cata ul {
  margin: 0px;
  padding: 0px;
  padding-top: 15px;
}

.out_cata ul li {
  list-style-type: none;
}

.out_cata ul li a {
  text-decoration: none;
  color: #1a5a98;
  font-size: 17px;
  font-weight: 500;
  display: block;
  padding: 5px 15px;
}

.out_cata ul li a:hover {
  color: white;
  background: #1a5a98;
}

.news_sub {
  background: #1a5a98;
  padding: 15px;
  margin: 20px 0px;
}

.news_sub_top {
  font-size: 17px;
  font-weight: 600;
  padding: 15px 0px;
}

.news_sub_form input {
  border: unset !important;
  border-radius: 0px !important;
}

.news_sub_form button {
  border: unset !important;
  border-radius: 0px !important;
  background: #b6d27c;
  color: #1a5a98;
  font-weight: 500;
}

.news_sub_form button:hover {
  background: white;
  color: #1a5a98;
}

.services_info img {
  width: 100%;
  height: auto;
}

.services_info_para {
  padding: 30px 0px;
  font-size: 15px;
}

@-webkit-keyframes header_after_border {
  0% {
    width: 0%;
  }
  25% {
    width: 75%;
  }
  50% {
    width: 110%;
  }
  100% {
    width: 100%;
  }
}

@keyframes header_after_border {
  0% {
    width: 0%;
  }
  25% {
    width: 75%;
  }
  50% {
    width: 110%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes box_hover {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  25% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes box_hover {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  25% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes do-box {
  0% {
    background-position: center;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 25% 60%;
  }
  100% {
    background-position: center;
  }
}

@keyframes do-box {
  0% {
    background-position: center;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 25% 60%;
  }
  100% {
    background-position: center;
  }
}

@-webkit-keyframes service_box {
  0% {
    opacity: 0.5;
    font-size: 50px;
  }
  25% {
    opacity: 0.9;
    font-size: 30px;
  }
  50% {
    opacity: 1;
    font-size: 250px;
    @media (max-width: 991.98px) {
      font-size: 150px;
    }
  }
  100% {
    opacity: 1;
    font-size: 200px;
    @media (max-width: 991.98px) {
      font-size: 100px;
    }
  }
}

@keyframes service_box {
  0% {
    opacity: 0.5;
    font-size: 50px;
  }
  25% {
    opacity: 0.9;
    font-size: 30px;
  }
  50% {
    opacity: 1;
    font-size: 250px;
    @media (max-width: 991.98px) {
      font-size: 150px;
    }
  }
  100% {
    opacity: 1;
    font-size: 200px;
    @media (max-width: 991.98px) {
      font-size: 100px;
    }
  }
}

@-webkit-keyframes service_box2 {
  0% {
    opacity: 0.5;
    font-size: 50px;
  }
  25% {
    opacity: 0.9;
    font-size: 30px;
  }
  50% {
    opacity: 1;
    font-size: 150px;
  }
  100% {
    opacity: 1;
    font-size: 100px;
  }
}

@keyframes service_box2 {
  0% {
    opacity: 0.5;
    font-size: 50px;
  }
  25% {
    opacity: 0.9;
    font-size: 30px;
  }
  50% {
    opacity: 1;
    font-size: 150px;
  }
  100% {
    opacity: 1;
    font-size: 100px;
  }
}
/*# sourceMappingURL=web_development.css.map */